parameters:
    level: 9
    fileExtensions:
        - php
    paths:
        - ../../admin
        - ../../app
        - ../../bin
        - ../../bootstrap
        - ../../database/migrations
        - ../../dev
        - ../../migrations
    tmpDir: ../../storage/framework/cache/phpstan
    excludePaths:
        - ../../bootstrap/cache
        - ../Rector/rector.config.php
    parallel:
        maximumNumberOfProcesses: 4
    checkUninitializedProperties: true

includes:
    - ../../vendor/larastan/larastan/extension.neon
    - ../../vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - ../../vendor/phpstan/phpstan-doctrine/extension.neon
    - ../../vendor/phpstan/phpstan-doctrine/rules.neon
