/.idea
/.vscode

/.env

/backend/public/storage/**
/backend/public/storage/.gitkeep

/backend/storage/**
!/backend/storage/**/
!/backend/**/.gitkeep

/backend/vendor/
/backend/.env

/docker/.env
/docker/backend/.env
/docker/mysql/.env
/backend/.phpunit.result.cache
