parameters:
  checkUninitializedProperties: true
  reportMaybesInPropertyPhpDocTypes: false
  level: 8
  tmpDir: ./storage/framework/cache
  paths:
    - app
  excludePaths:
    - app/Module/*/lang/*
  doctrine:
      objectManagerLoader: phpstan/object-manager.php
  ignoreErrors:
      -
          message: "#has parameter \\$credentials with no value type specified in iterable type array\\.#"
          path: app/Module/User/Authentication/UserProvider/TokenUserProvider.php

includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon
  - vendor/phpstan/phpstan-doctrine/extension.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon
  - phpstan/phpstan-baseline.neon

rules:
  - PHPStan\Rules\Doctrine\ORM\EntityNotFinalRule

services:
  - class: App\PHPStan\PropertiesExtension
    tags:
      - phpstan.properties.readWriteExtension
