name: laravel-starter-kit-local

services:
    backend: &backend
        build:
            context: ./backend/
            target: base
            args:
                USER_ID: ${USER_ID:-1000}
        volumes:
            - ../backend/:/app/
            - ./backend/local.ini:/usr/local/etc/php/conf.d/local.ini
            - backend_cache:/home/dev/.composer
        env_file: backend/.env
        depends_on:
            mysql:
                condition: service_healthy
    backend-cli:
        <<: *backend
        build:
            context: ./backend/
            target: cli
            args:
                USER_ID: ${USER_ID:-1000}
        init: true
    queue:
        <<: *backend
    nginx:
        build:
            context: ./nginx/
        ports:
            - ${NGINX_PORT}:80
        volumes:
            - ../backend/public/storage/:/app/:ro
        depends_on: [ backend ]
    mysql:
        build:
            context: ./mysql/
        volumes:
            - mysql:/var/lib/mysql/
        ports:
            - ${MYSQL_PORT}:3306
        env_file: ./mysql/.env
        healthcheck:
            test: "mysql --user=$$MYSQL_USER --password=$$MYSQL_PASSWORD --execute='select 1;'"
            interval: 1s
            timeout: 100s
            retries: 50
    mailhog:
        image: mailhog/mailhog:v1.0.1
        ports:
            - ${MAILHOG_HTTP_PORT}:8025
        logging:
            driver: 'none'
volumes:
    mysql:
    backend_cache:
